body
{
	background-color: black;
	background-size: 100%;
	display: block;
	position:absolute;
}
#picture
{
 opacity: 0.5;
 filter: blur(6px);
 position:absolute;
 z-index:-500;

}

.button
{
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius:2px;
    padding: 1px 15px;
    width:150%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: white;
}