body
{
	background-color: black;
	background-size: 100%;
	opacity: 0.5;
	display: block;
	position:absolute;
}
#picture
{
 opacity: 0.5;
 filter: blur(6px);
 position:absolute;
 z-index:-500;

}

#login
{
	display:block;
	background-color: black;
	opacity: 0.7;
	margin-left: 170%;
	margin-top: 10%;
	width:450px;
	height: 525px;
	float: left;
	z-index:1000;
	position:relative;
}