body
{
	background-color: black;
	background-size: 100%;
	opacity: 0.5;
	display: block;
	position:absolute;
}
#picture
{
 opacity: 0.5;
 filter: blur(6px);
 position:absolute;
 z-index:-500;

}

#name
{
	position:absolute;
	z-index:2000;
	margin-left: 50%;
	margin-top:50%;
	
}

#heading
{
	position: absolute;
	z-index: 2000;
	margin-left:70%;
	top:5px;
	color:white;
	font-size:35px;
	font-family:comic;
	font-style: italic;
	font-weight: bold;
}

#tagline
{
	color:white;
	font-size: 18px;
	font-family: comic;
	font-style: italic;
	margin-left:240%;
	position: relative;	
}

#logo
{
	margin:auto;
	display: block;
	margin-top:12%;
}

#space
{
	margin:20%;
}

#space1
{
	margin-top:10%;
	margin-bottom: 10%;
}

#login
{
	display:block;
	background-color: #111;
	opacity:0.8;
	margin-left: 195%;
	margin-top: 10%;
	width:410px;
	height: 560px;
	float: left;
	z-index:1000;
	position:relative;
}

#register
{
	display:block;
	background-color: #111;
	opacity:0.8;
	margin-left: 195%;
	margin-top: 8%;
	width:410px;
	height: 610px;
	float: left;
	z-index:1000;
	position:relative;
}


#register #logo
{
	margin:auto;
	display: block;
	margin-top:8%;
	margin-bottom:0;
}

#register input[type=text],select
{
	background-color:grey;
	color:black;
	opacity:1;
	font-size: 12px;
	width:70%;
	padding: 10px 16px;
    margin: 0.5px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

#register #first input[type=text]
{
	margin-top: 0;
}

#register input[type=Password], select
{	
	background-color:grey;
	color:black;
	font-size:12px;
	opacity:1;
	width:70%;
	padding: 10px 16px;
    margin: 0.5px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}


input[type=text], select
{	
	background-color:grey;
	color:black;
	font-size:12px;
	opacity:1;
	width:70%;
	padding: 10px 16px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=Password], select
{	
	background-color:grey;
	color:black;
	font-size:12px;
	opacity:1;
	width:70%;
	padding: 10px 16px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit]
{
	background-color: #fff;
	color:black;
	font-size: 16px;
	font-weight: bold;
	width:70%;
	padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 2px;
	color:black;
	cursor: pointer;
}

.button
{
    background-color: grey;
    color: white;
    font-weight: bold;
    border: 2px solid #008CBA;
    border-radius:2px;
    padding: 10px 32px;
    width:70%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}