<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="static/stylesheets/font.css">
</head>


<body>
<div class="background">
<img id="picture" src="static/images/picture.jpg" alt="background" width="1350" height="640">
</div>

<div id="login"> <p>aa</p>
	<table>
      <tr>
            <h1>Please login</h1>
            <form method="POST">
                <input type="email" name="email">
                <input type="password" name="password">
                <input type="submit">
            </form>
      </tr>
    </table>
</div>

</body>
</html>