<!DOCTYPE html>
<html>
<head>
  
  <script type="text/javascript">
        $('input:text').click(
      function()
      {
          $(this).val('');
      });

      $('input:Password').click(
      function()
      {
          $(this).val('');
      });


    </script>

  <title>DEALBAZAAR</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="static/stylesheets/font.css">
</head>


<body>
    <div class="background">
      <img id="picture" src="static/images/picture.jpg" alt="background" width="1350" height="640">
    </div>

    <div id="name">
      <img src="static/images/dblogo.png" alt="Profile Picture" width="70" height="70">
      <p id="heading">DealBazaar.com</p>
      <p id="space1"> </p>
      <p id="tagline">Buy.Sell.Rent.</p>
    </div> 

    <div id="login">
      <img id="logo" src="static/images/logo.png" alt="Profile Picture" width="85" height="85">
      <p id="space"> </p>
      <form id="form" method="post">
        <center>
        <input type="email" name="Emailid" placeholder="Email Id"><br>
        <br>
        <input type="Password" name="Password" placeholder="Password"><br>
        <br>
        <input type="submit" value="LOG IN" stlye="font-weight:bold" ><br>
        </center>
      </form>
  
      <center>
        <a href="/signup" target="_self"> <button class="button">JOIN US TODAY</button> </a>
      </center>
    </div>

</body>
</html>