#block {
	margin-top:70px;
	margin-left:50px;
    padding: 20px 20px 20px 2px;
    width: 650;
    height: 750;
    border:2px solid white;
    border-radius: 10px 15px;
    z-index:2000;
    position:absolute;
}

#block2 {
	margin-top:70px;
	margin-left:395px;
	float:left;
    padding: 20px 20px 20px 2px;
    width: 650;
    height: 750;
    border:2px solid white;
    border-radius: 10px 15px;
    z-index:2000;
    position:absolute;
}

#block3 {
	margin-top:70px;
	margin-left:750px;
	float:left;
    padding: 20px 20px 20px 2px;
    width: 650;
    height: 750;
    border:2px solid white;
    border-radius: 10px 15px;
    z-index:2000;
    position:absolute;
}

#book1
{
	
	margin-left:5%;
	display:block;
}

#name
{
	text-align: center;
	color:white;
	font-family:comic;
	font-size:18px;
	font-weight: bold;
}

#price
{
	text-align: right;
	color:white;
	font-family:comic;
	font-size:16px;
	font-weight: bold;
}